*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: gray;
}
.container{
  max-width: 60%;
  margin: auto;
}

header{
  background-color: green;
  width: 100%;
  height: 200px;
  margin: 5px auto;
  padding: 5px;
}
.fotocontainer{
  background-color: lightgreen;
  height: 75%;
  border: 1px solid black;
}

.navbar{
  background-color: lightgreen;
  height: 25%;
  border: 1px solid black;
}

section{
  background-color: blue;
  width: 100%;
  /* height: 550px; */
  margin: 5px auto;
  padding: 5px;
}

.maindivider{
  background-color: lightblue;
}

.maindivider::after{
  content: "";
  display: table;
  clear: both;
}

.organicthemes{
  float: left;
  width: 25%;
  background-color: yellow;
  border: 1px solid black;
  height: 250px;
}

.threecolumn{
  float: left;
  width: 50%;
  background-color: yellow;
  border: 1px solid black;
  /* height: 150px; */
  padding: 5px;
}
.textwidget{
  float: right;
  width: 25%;
  background-color: yellow;
  border: 1px solid black;
  margin: auto;
}

.textsection{
  position: relative;
  height: 200px;
  width: auto;
  border: 1px solid black;
  margin: 5px;
  background-color: orange;
}

footer{
  background-color: red;
  width: 100%;
  height: 100px;
  margin: 5px auto;
}
