*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: gray;
}
.container{
  max-width: 900px;
  margin: auto;
}

.fotocontainer{
  background-color: darkgray;
  width: 100%;
  height: 200px;
}
